/* JME style-sheet */


/****************************
* SCHELETRO DEL PROGETTO    */
#html_body {
	background-image: url("kafi/gwt/clean/images/background_main.png"); 
}
#html_box { 
    margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    width:922px;
    height:682px;
    margin-top: -341px;
    margin-left: -461px;
}
#html_logo_bar {
	color: #333;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 0px 0px 0px 0px;
	background-image: url("kafi/gwt/clean/images/jme_logo_large.png"); 
	height: 64px;
	width: 900px;
}
#html_menu_bar {
	color: #333;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 0px 0px 0px 0px;
	background-image: url("kafi/gwt/clean/images/orange_background.png"); 
	height: 10px;
	width: 900px;
}
#html_content {
	color: #333;
	padding: 0px;
	border: 1px solid #ccc;
	margin: 0px 0px 0px 0px;
	height: 500px;
	width: 919px;
	overflow: hidden;
	background-image: url("kafi/gwt/clean/images/content_background.png"); 
}
#html_menu_content {
	color: #333;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height:500px;
	width: 90px;
	float: left;
}
#html_menu_content_top {
	color: #333;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height: 20%;
	width: 100%;
}
#html_menu_content_middle {
	color: #333;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height: 59%;
	width: 99%;
}
#html_menu_content_bot {
	color: #333;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height: 20%;
	width: 100%;
}
#html_main_content {
	color: #333;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height: 500px;
	width: 826px;
	float: left;
	overflow: auto;
}
#html_main_content_middle{
	padding-top: 30px;
}
#html_main_content_bottom{
	padding-top: 30px;
}
#html_bottom {
	color: #333;
	padding: 10px;
	border: 1px solid #ccc;
	background-image: url("kafi/gwt/clean/images/black_background.png"); 
	height: 50px;
	width: 900px;
}
#html_bottom_user_bar {
	color: #333;
	padding: 0px;
	background-image: url("kafi/gwt/clean/images/black_background.png"); 
	height: 10px;
	width: 900px;
	text-align: right;
}
#html_bottom_logout_bar {
	color: #333;
	padding: 0px;
	background-image: url("kafi/gwt/clean/images/black_background.png"); 
	height: 40px;
	width: 900px;
}


/***************************
* MAIN					   */
.css-main_labelText_1{
	text-align:center;
	font-size:18px;
	font-family:lucida sans unicode, lucida grande, sans-serif;
	letter-spacing:1pt;
}
.css-main_labelText_2{
	text-align:center;
	font-size:10px;
	font-family:lucida sans unicode, lucida grande, sans-serif;
	letter-spacing:1pt;
}
.css-main_labelText_3{
	text-align:center;
	font-size:15px;
	font-family:lucida sans unicode, lucida grande, sans-serif;
	letter-spacing:10pt;
}
.css-main_Greybar{
	padding-left: 60px;
}
.css-main_SubLogo{
	padding-top: 10px;
	padding-left: 139px;
}
.css-main_vppanel_padding{
	padding-top: 130px;
	padding-left: 165px;
}



/***************************
* POPUP					   */
.css-popup_toplabel{
	font-weight:normal;
	color:#333333;
	letter-spacing:0pt;
	word-spacing:0pt;
	font-size:20px;
	text-align:left;
	font-family:helvetica, sans-serif;
}

css-popup_textbox:-webkit-input-placeholder { 
    color:    #b5b5b5; 
} 
css-popup_textbox-moz-placeholder { 
    color:    #b5b5b5; 
}
.css-popup_textbox { 
    background: #f5f5f5; 
    font-size: 0.8rem; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    border: none; 
    padding: 13px 10px; 
    width:200px; 
    margin-bottom: 20px; 
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 ); 
    clear: both; 
} 
.css-popup_textbox:focus { 
    background: #fff; 
    box-shadow: 0px 0px 0px 1px #1090c3, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 ); 
    outline: none;    
} 
.css-popup_popup {
	border: 1px solid #000000;
	background: white;
}
.css-popup_button{
	border:1px solid #15aeec;
	-webkit-box-shadow: #B4B5B5 3px 3px 3px ;
	-moz-box-shadow: #B4B5B5 3px 3px 3px;
	box-shadow: #B4B5B5 3px 3px 3px  ;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	font-size:12px;
	font-family:trebuchet MS, sans-serif;
	padding: 9px 9px 9px 9px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	color: #FFFFFF;
	background: #ecf0f1;
	color: #2d525d;
	width: 220px;
}
.css-popup_button:hover{
	border:1px solid #1090c3;
	background-color: #1ab0ec;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}


/***************************
* POPUP PARTECIPANTS	   */
.css-popup-showcomments_padding {
	padding-top: 20px;
}
.css-popup-showcomments_comment{
	width: 200px;
	background-color: #F2EBDC;
	border: 1px solid #ccc;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}
.css-popup-showcomments_textarea{
	width: 200px;
}


/***************************
* POPUP PARTECIPANTS	   */
.css-popup-partecipants_content {  
    height: 20px; 
    width: 150px;
    background-color: #F2EBDC;
    border: 1px solid #fff;
    text-align:center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
} 
.css-popup-partecipants_title {  
    height: 20px; 
    width: 150px;
    background-color: #F5DEAE;
    border: 1px solid #fff;
	color:#000000;
	font-weight: underline;
	text-align:center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
} 
.css-popup-partecipants_topLabel_title {  
	font-weight:normal;
	color:#333333;
	letter-spacing:0pt;
	word-spacing:0pt;
	font-size:20px;
	text-align:center;
	font-family:helvetica, sans-serif;
} 
.css-popup-partecipants_panel_border{
	border: 15px solid #fff;
}


/***************************
* POPUP NOTE			   */
.css-popup-note_textarea{
	width: 200px;
	padding-bottom: 30px;
	padding-top: 20px;
}
.css-popup-note_button{
	border:1px solid #15aeec;
	-webkit-box-shadow: #B4B5B5 3px 3px 3px ;
	-moz-box-shadow: #B4B5B5 3px 3px 3px;
	box-shadow: #B4B5B5 3px 3px 3px  ;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	font-size:12px;
	font-family:trebuchet MS, sans-serif;
	padding: 9px 9px 9px 9px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	color: #FFFFFF;
	background: #ecf0f1;
	color: #2d525d;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
.css-popup-note_button:hover{
	border:1px solid #1090c3;
	background-color: #1ab0ec;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}


/***************************
* CREATE EVENT			   */
.css-createevent_textbox_date_hours {  
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;  
} 
.css-createevent_button_add_event {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:27px;
	-moz-border-radius-topleft:27px;
	border-top-left-radius:27px;
	-webkit-border-top-right-radius:27px;
	-moz-border-radius-topright:27px;
	border-top-right-radius:27px;
	-webkit-border-bottom-right-radius:27px;
	-moz-border-radius-bottomright:27px;
	border-bottom-right-radius:27px;
	-webkit-border-bottom-left-radius:27px;
	-moz-border-radius-bottomleft:27px;
	border-bottom-left-radius:27px;
	text-indent:0px;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:21px;
	line-height:21px;
	width:220px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}
.css-createevent_button_add_event:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
.css-createevent_button_add_event:active {
	position:relative;
	top:1px;
}
.css-createevent_button_create_event {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 57px;
	width:220px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.css-createevent_button_create_event:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.css-createevent_button_create_event:active {
	position:relative;
	top:1px;
}

/***************************
* EVENT CREATED			   */
.css-eventcreate_horizontalpanelMiddle{
	padding-top: 90px;
	padding-left: 80px;
}
.css-eventcreate_label { 
	padding-top: 15px;
    height: 40px; 
    width: 300px;
	font-size: 14px;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	text-align:center;
} 
.css-eventcreate_id { 
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:230px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
} 


/***************************
* MYEVENTS				   */
.css-myevents_title { 
    height: 25px; 
    width: 170px;
    background-color: #587cdc;
    border: 1px solid #fff;
	color:#fff;
	text-align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
} 
.css-myevents_title_small { 
    height: 25px; 
    width: 105px;
    background-color: #587cdc;
    border: 1px solid #fff;
	color:#fff;
	text-align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
} 
.css-myevents_content { 
    height: 25px; 
    width: 170px;
    background-color: #F5DEAE;
    border: 1px solid #fff;
	color:#000000;
	text-align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
} 
.css-myevents_content_small { 
    height: 25px; 
    width: 105px;
    background-color: #F2EBDC;
    border: 1px solid #fff;
	color:#000000;
	text-align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}  
.css-myevents_content_empty { 
    height: 25px; 
    width: 170px;
    border: 1px solid #fff;
} 
.css-myevents_content_button_close_event{
	cursor:pointer;
	border: 1px solid #fff;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:170px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.css-myevents_content_button_close_event:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.css-myevents_content_button_close_event:active {
	position:relative;
	top:1px;
}
.css-myevents_content_button_delete_event{
	cursor:pointer;
	border: 1px solid #fff;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:170px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.css-myevents_content_button_delete_event:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.css-myevents_content_button_delete_event:active {
	position:relative;
	top:1px;
}


/***************************
* USER_BAR				   */
.css-user_bar_button {  
    height: 20px; 
    color: #FFFFFF;
    font-family: Trebuchet MS;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0px;
    -webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	float: left;
  	padding-right: 25px;
} 
.css-user_bar_button:hover {  
	text-shadow: -1px -1px 8px rgba(255, 255, 255, 1);
	font-weight:bold;
	float: left;
}
.css-user_bar_labelUsername {  
	font-weight:bold;
	color:#fff;
	letter-spacing:0pt;
	word-spacing:0pt;
	font-family:trebuchet MS, sans-serif;
	line-height:1;
	text-align: right;
}


/***************************
* LOGOUT				   */
.css-html_pushbuttonLogout { 
    height: 20px; 
    width: 100px;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0px;
    -webkit-border-radius: 0;
  	-moz-border-radius: 0;
} 
.css-html_pushbuttonLogout:hover {  
	text-shadow: -1px -1px 8px rgba(255, 255, 255, 1);
	font-weight:bold;
}



/***************************
* EVENT JOINED			   */
.css-eventjoined_pushbutton_gobacktotheevent{
	font-weight:bold;
	background-color: transparent;	
	text-decoration:underline;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
}


/***************************
* SHOW EVENT			   */
.css-showevent_hpnote{
	padding-bottom: 20px;
}
.css-showevent_form_title_empty{
	height: 20px; 
    width: 120px;
	background-color: transparent;	
	border: 1px solid transparent;
}
.css-showevent_form_title {  
    height: 20px; 
    width: 120px;
    background-color: #F5DEAE;
    border: 1px solid #fff;
	color:#000000;
	font-family:lucida sans unicode, lucida grande, sans-serif;
} 
.css-showevent_content { 
    height: 20px; 
    width: 605px;
    background-color: #F2EBDC;
    border: 1px solid #fff;
	color:#000000;
	text-align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
} 
.css-showevent_content_title { 
    height: 20px; 
    width: 120px;
    background-color: #F5DEAE;
    border: 1px solid #fff;
	color:#000000;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}  
.css-showevent_date_title { 
    height: 20px; 
    width: 120px;
    background-color: #587cdc;
    border: 1px solid #fff;
	color:#000000;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}  
.css-showevent_verticalpanel_padding { 
	padding-top: 20px;
}
.css-showevent_verticalpanel_bottom_padding { 
	padding-top: 10px;
}
.css-showevent_form_container_dark { 
    height: 20px; 
    width: 70px;
    background-color: #F5DEAE;
    border: 1px solid #fff;
	color:#000000;
	text-align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}  
.css-showevent_form_container_normal { 
    height: 20px; 
    width: 70px;
    background-color: #F2EBDC;
    border: 1px solid #fff;
	color:#000000;
	text-align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}
.css-showevent_middle_text{
	text-align: center;
	width: Auto;
	margin: 0 auto;
	align: middle;
	align: center;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}
.css-showevent_middle_checkbox{
	padding-left: 24px;
}
.css-showevent_icon_padding{
	padding-right: 20px;
}
.css-showevent_form_container_padding{
	padding-top: 20px;
}
.css-showevent_form_pushbuttonPartecipantsNumber{
	background-image: url("kafi/gwt/clean/images/partecipants.png");
   	font-family:lucida sans unicode, lucida grande, sans-serif;
   	text-align: center;
   	background-repeat:no-repeat;
   	background-position: 45px center; 
   	cursor: pointer;
   	
}
.css-showevent_pushbuttonComment{
	padding-top: 10px;
	background-image: url("kafi/gwt/clean/images/comments.png");
   	font-family:lucida sans unicode, lucida grande, sans-serif;
   	background-repeat:no-repeat;
	background-position:right center;
	height: 34px; 
    width: 150px;
    line-height: 34px;
    vertical-align:middle;
    cursor: pointer;
}
.css-showevent_textboxName{ 
	background: #F1F1F1 url("kafi/gwt/clean/images/icon_textbox.png") no-repeat;
	background-position: 5px -7px !important;
	padding: 10px 10px 10px 25px;
	width: 140px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
} 
.css-showevent_textboxName:focus { 
	background-color: #FFF; 
	border-color: #E8C291; 
	outline: none; 
	-moz-box-shadow: 0 0 0 1px #e8c291 inset; 
	-webkit-box-shadow: 0 0 0 1px #E8C291 inset; 
	box-shadow: 0 0 0 1px #E8C291 inset; 
} 
.css-showevent_buttonJoinMyEvent {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #469df5;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:173px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
	cursor: pointer;
}
.css-showevent_buttonJoinMyEvent:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
.css-showevent_buttonJoinMyEvent:active {
	position:relative;
	top:1px;
}
.css-showevent_hpBottom_buttonContainer {
	padding-top: 2px;
}
.css-showevent_form_container_green{
	background-color: #BCED91;
	text-align:center;
}
.css-showevent_form_container_joined-text{
	text-align:center;
	font-size:10px;
	font-family:lucida sans unicode, lucida grande, sans-serif;
}



/***************************
* GENERICS				   */
.css-generics_padding{
	padding-top: 20px;
}
.css-generics_labelerror{
	color:#FF0000;
	font-family:arial, helvetica, sans-serif;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.css-generics_bolded_text{
	font-weight:bold;
	color:#000000;
	letter-spacing:0pt;
	word-spacing:0pt;
	font-family:trebuchet MS, sans-serif;
}
.css-generics_toplabel{
	font-weight:normal;
	color:#333333;
	letter-spacing:0pt;
	word-spacing:0pt;
	font-size:20px;
	text-align:left;
	font-family:helvetica, sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}
.css-generics_label{
	font-weight: normal;
	color: #333333;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	font-size: 12px;
	text-align: left;
	font-family: helvetica, sans-serif;
	padding-top: 10px;
	padding-bottom: 0px;
}
.css-generics_textbox { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline: 0; 
    height: 25px; 
    width: 210px;
    padding-left: 5px;
    padding-right: 5px; 
} 